html, body{
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;      
    background-color: papayawhip;    
}   

header{
    position: absolute;
    top: 20px;
    font-family: sans-serif;
}

.quotes_div{

}

.stopwatch_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 50px; */
    gap: 20px;
    font-family: Arial, sans-serif;   
}

.stopwatch_main div span {
    font-size: 24px;
    font-weight: bold;
    /* background-color: #f0f0f0; */
    /* padding: 10px 20px; */
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
    user-select: none;
}

.buttons{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    gap: 15px;
}

.basic_buttons{
    background-color: tomato;
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #caa4a400;
}

.quotes_div{
    /* margin-bottom: 100px; */
    margin-top: 20px;
}

.container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 300px;  /* Example width */
    height: 300px; /* Example height */
    border: 1px solid #cfabab;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    padding: 10px;
    /* transition-duration: 1s; */
    transition: transform 0.2s linear;

    /* transform: scale(1.05); */
}

.stopwatch_main > div > span {
    font-size: 35px;
    font-weight: 500;
}

.stopwatch_main .colon {
    font-size: 30px;
    /* font-weight: 100; */
}

.theme-change {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #cfabab;
}





/* Dark theme */
.dark-theme {
    background-color: #1e1e1e; /* body background */
    color: #f5f5f5;            /* text color */
}

.dark-theme .container {
    background-color: #2c2c2c;
    border: 1px solid #555;
}

.dark-theme .basic_buttons {
    background-color: #ff6347;
    color: white;
}

.dark-theme .theme-change{
    border: 1px solid white;
    background-color: rgb(12, 2, 0);
    color: white;
}